a:link{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
a.header:link{
    text-decoration: none;
}
a.header:visited{
    color: black;
}
a.header:hover{
    text-decoration: underline;
}
